git+https://github.com/botswana-harvard/django-crypto-fields.git@0.1.14#egg=django-crypto-fields
git+https://github.com/botswana-harvard/django-revision.git@0.1.14#egg=django-revision
git+https://github.com/botswana-harvard/edc-action-item.git@testing#egg=edc_action_item
git+https://github.com/botswana-harvard/edc-appointment.git@testing#egg=edc_appointment 
git+https://github.com/botswana-harvard/edc-base.git@testing#egg=edc_base
git+https://github.com/botswana-harvard/edc-call-manager.git@testing#egg=edc-call-manager
git+https://github.com/botswana-harvard/edc-calendar.git@testing#egg=edc-calendar
git+https://github.com/botswana-harvard/edc-constants.git@testing#egg=edc_constants
git+https://github.com/botswana-harvard/edc-consent.git@testing#egg=edc_consent
git+https://github.com/botswana-harvard/edc-dashboard.git@testing#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-data-manager.git@0.1.5#egg=edc-data-manager
git+https://github.com/botswana-harvard/edc-device.git@testing#egg=edc_device
git+https://github.com/botswana-harvard/edc-document-archieve-api.git@testing
git+https://github.com/botswana-harvard/edc-facility.git@testing#egg=edc_facility
git+https://github.com/botswana-harvard/edc-fieldsets.git@testing#egg=edc_fieldsets
git+https://github.com/botswana-harvard/edc-form-validators.git@testing#egg=edc_form_validators
git+https://github.com/botswana-harvard/edc-identifier.git@testing#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-lab.git@testing#egg=edc_lab
git+https://github.com/botswana-harvard/edc-label.git@testing#egg=edc_label
git+https://github.com/botswana-harvard/edc-locator.git@testing#egg=edc_locator
git+https://github.com/botswana-harvard/edc-list-data.git@testing#egg=edc_list_data
git+https://github.com/botswana-harvard/edc-metadata.git@testing#egg=edc_metadata
git+https://github.com/botswana-harvard/edc-metadata-rules.git@testing#egg=edc_metadata_rules
git+https://github.com/botswana-harvard/edc-model-admin.git@testing#egg=edc_model_admin
git+https://github.com/botswana-harvard/edc-model-wrapper.git@testing#egg=edc_model_wrapper
git+https://github.com/botswana-harvard/edc-navbar.git@testing#egg=edc_navbar
git+https://github.com/botswana-harvard/edc-odk.git@testing#egg=edc-odk
git+https://github.com/botswana-harvard/edc-prn.git@testing#egg=edc_prn
git+https://github.com/botswana-harvard/edc-protocol.git@testing#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-reference.git@testing#egg=edc_reference
git+https://github.com/botswana-harvard/edc-registration.git@testing#egg=edc_registration
git+https://github.com/botswana-harvard/edc-reports.git@testing#egg=edc_reports
git+https://github.com/botswana-harvard/edc-search.git@testing#egg=edc_search
git+https://github.com/botswana-harvard/edc-senaite-interface.git@testing#egg=edc-senaite-interface
git+https://github.com/botswana-harvard/edc-sms.git@testing#egg=edc_sms 
git+https://github.com/botswana-harvard/edc-subject-dashboard.git@testing#egg=edc_subject_dashboard
git+https://github.com/botswana-harvard/edc-timepoint.git@testing#egg=edc_timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule.git@testing#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@testing#egg=edc_visit_tracking
git+https://github.com/flourishbhp/flourish-child.git@testing#egg=flourish_child
git+https://github.com/flourishbhp/flourish-child-validations.git@testing#egg=flourish_child_validations
git+https://github.com/flourishbhp/flourish-caregiver.git@testing#egg=flourish_caregiver
git+https://github.com/flourishbhp/flourish-dashboard.git@testing#egg=flourish_dashboard
git+https://github.com/flourishbhp/flourish-visit-schedule.git@testing#egg=flourish_visit_schedule
git+https://github.com/flourishbhp/flourish-follow.git@testing#egg=flourish_follow
git+https://github.com/flourishbhp/flourish-reports.git@testing#egg=flourish_reports
git+https://github.com/flourishbhp/flourish-form-validations.git@testing#egg=flourish_form_validations
git+https://github.com/flourishbhp/flourish-prn.git@testing#egg=flourish_prn
git+https://github.com/flourishbhp/flourish-export.git@testing#egg=flourish_export
git+https://github.com/flourishbhp/pre-flourish.git@testing#egg=pre_flourish
git+https://github.com/flourishbhp/flourish-reference@testing#egg=flourish_reference
git+https://github.com/flourishbhp/flourish-metadata-rules@testing#egg=flourish_metadata_rules
git+https://github.com/flourishbhp/flourish-labs@testing#egg=flourish_labs
git+https://github.com/flourishbhp/flourish-calendar@testing#egg=flourish_calendar
git+https://github.com/flourishbhp/pre-flourish-follow.git@testing#egg=pre_flourish_follow
git+https://github.com/flourishbhp/flourish-facet.git@testing#egg=flourish_facet
pypdfium2==3.8.0
django_tables2
django-crispy-forms==1.14.0
